@using BaseMVC
@using MvcAjaxPager
@model AuthorPlugin.Areas.Author.Models.AuthorListPagingAndViewModel

<div id="divtarget">
    <table class="table table-bordered table-hover table-responsive table-striped tdCenter">
        <tr>
            <th>
                نام
            </th>
            <th>
                نام خانوادگی
            </th>
            <th>
                نام کاربری
            </th>
            <th>
                رمز عبور
            </th>
            <th>
                تعداد پست ها
            </th>
            <th>
                ویرایش
            </th>
            <th>
                حذف
            </th>
        </tr>

        @foreach (var item in Model.Author)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostCount)
                </td>
                <td>
                    <a class="label label-primary" href="@Url.Action("Edit", "AuthorAdmin", new {id = item.Id})">ویرایش</a>
                </td>
                <td>
                    <a class="label label-danger deleteBtn" href="@Url.Action("Delete", "AuthorAdmin", new {id = item.Id})">حذف</a>
                </td>
            </tr>
        }

    </table>
    <div id="pager">
        @Html.AjaxPager(Model.TotalItemCount, Model.PageSize, Model.CurrentPage, "ListPaging", "AuthorAdmin", null,
        CustomePagerOptions.CustomePageOptions(), null, null)
    </div>
</div>
