@model IEnumerable<Articles.Contracts.PostShowHomePage>

<div class="container">

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-dismissable">
                            <a href="@Url.Action("Post", "Blog", new {Id = item.PostId, Name = item.Slug})">@item.Title</a>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="label label-default">
                            <span>نام نویسنده</span>
                            <a href="@Url.Action("Name", "Autor", new {Id = item.AuthorId, Name = item.AuthorName})">@item.AuthorName</a>
                        </div>
                        <div class="label label-success">
                            <span>دسته بندی</span>
                            <a href="@Url.Action("Name","UserCategory",new {Id=item.CategoryId,Name=item.CategoryName})">@item.AuthorName</a>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        @Html.Raw(item.Summary)
                    </div>
                    <div class="continueBtn">
                        <a class="btn btn-success" 
                           href="@Url.Action("Post", "Blog", new {Id = item.PostId, Name = item.Slug})">@item.Title</a>
                    </div>
                </div>
            </div>
        }


    </div>
</div>

