<footer id="footer" class="bg-color0">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 block widget_text">
                <div class="block widget_tweet">
                    <h3>Our Twitter</h3>
                    <div class="twitter"></div>
                </div>
            </div>


            <div class="block col-sm-4 subscribe">
                <h3>
                    در ارتباط باشید
                </h3>
                <p>از این پس کارهای شما را ما انجام می دهیم</p>
                <form id="signup" action="/" method="get" class="form-inline">
                    <div class="form-group">
                        <input name="email" id="mailchimp_email" type="email" class="form-control" placeholder="your@email.com">
                    </div>
                    <button type="submit" class="theme_btn">ارسال</button>
                    <div id="response"></div>
                </form>
            </div>


            <div class="block col-sm-4">
                <h3>
                    Flickr ما
                </h3>
                <ul id="flickr"></ul>
            </div>


        </div>
    </div>
</footer>

<section id="copyleft" class="dark_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div style="background-color: blue; height: 350px;"></div>
            </div>
            <div class="col-md-4">
                <div style="background-color: red; height: 350px;"></div>
            </div>
            <div class="col-md-4">
                <div style="background-color: yellow; height: 350px;"></div>
            </div>

            <div class="col-sm-12">
                <p class="text-center">

                    کپی رایت@2015 تمام حقوق مادی و معنوی این سایت متعلق به گروه  ما میباشد
                    <a href="http://www.komakfori.org" target="_blank"></a>
                </p>
            </div>

        </div>
    </div>
</section>

</div><!-- EOF #box_wrap -->

<div id="gallery_container"></div>

<div class="preloader">
    <div class="preloaderimg"></div>
</div>


<script src="@Url.Content("~/js/vendor/respond.min.js")"></script>
<script src="@Url.Content("~/js/vendor/placeholders.min.js")"></script>
<script src="@Url.Content("~/js/vendor/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/js/vendor/bootstrap.min.js")"></script>
<script src="@Url.Content("~/js/vendor/hoverIntent.js")"></script>
<script src="@Url.Content("~/js/vendor/superfish.js")"></script>
<script src="@Url.Content("~/js/vendor/jquery.actual.min.js")"></script>
<script src="@Url.Content("~/js/vendor/jquery.elastislide.js")"></script>
<script src="@Url.Content("~/js/vendor/jquery.flexslider-min.js")"></script>
<script src="@Url.Content("~/js/vendor/jquery.prettyPhoto.js")"></script>
<script src="@Url.Content("~/js/vendor/jquery.easing.1.3.js")"></script>
<script src="@Url.Content("~/js/vendor/jquery.ui.totop.js")"></script>
<script src="@Url.Content("~/js/vendor/jquery.isotope.min.js")"></script>
<script src="@Url.Content("~/js/vendor/jquery.easypiechart.min.js")"></script>
<script src="@Url.Content("~/js/vendor/jflickrfeed.min.js")"></script>
<script src="@Url.Content("~/js/vendor/jquery.sticky.js")"></script>
<script src="@Url.Content("~/js/vendor/owl.carousel.min.js")"></script>
<script src="@Url.Content("~/js/vendor/jquery.nicescroll.min.js")"></script>
<script src="@Url.Content("~/js/vendor/jquery.fractionslider.min.js")"></script>
<script src="@Url.Content("~/js/vendor/jquery.scrollTo-min.js")"></script>
<script src="@Url.Content("~/js/vendor/jquery.localscroll-min.js")"></script>
<script src="@Url.Content("~/js/vendor/jquery.parallax-1.1.3.js")"></script>
<script src="@Url.Content("~/js/jquery.tweet.min.js")"></script>
<script src="@Url.Content("~/js/plugins.js")"></script>
<script src="@Url.Content("~/js/main.js")"></script>

<!-- Map Scripts -->
</body>
</html>

