@model IEnumerable<WorkSample.Contracts.WorkCategoryBaseDTO>
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2 class="block-header">
                نمونه کارهای ما
            </h2>
            <h3>فعلا نمونه کاری نداریم این تصاویر فعلا الکیه</h3>
        </div>
    </div>
    <div id="portfolio_wrapper" class="row">
        <div class="text-center filters col-sm-12">
            <ul id="firtlable">
                <li><a class="selected" data-filter="*" href="#">همه</a></li>
                @foreach (var item in Model)
                {
                    <li><a data-filter=".@item.Name" href="#" class="">@item.Name</a></li>
                }
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Items -->

    <ul class="items-row row cols-3 portfolio firtlable clearfix isotope" id="portfolioContainer">

        @foreach (var item in Model)
        {
            foreach (var sample in item.Samples)
            {
                <li class="item col-sm-6 col-md-4 isotope-item @item.Name">

                    <!-- Image -->

                    <div class="portfolio_item_image">
                        <img alt="" src="@Url.Content(sample.Image)">
                        <div class="portfolio_links">
                            <a class="p-view prettyPhoto" title="" rel="prettyPhoto[pp_gal]" href="@Url.Content("~/example/intro_img1.jpg")"></a>
                            <a class="p-link" title="" 
                            href="@Url.Action("Show","UserWorkSample",
                                 new {id=sample.Id,Name=sample.Slug,Area="WorkSamples"})"></a>
                        </div>
                    </div>
                    <div class="item_title">
                        <h4>
                            <a class="p-link" title=""
                               href="@Url.Action("Show","UserWorkSample",
                                    new {id=sample.Id,Name=sample.Slug,Area="WorkSamples"})">

                                @item.Name
                            </a>
                        </h4>
                    </div>
                </li>
            }

        }
     


    </ul>
    </div> <!--eof portfolio_wrapper-->

    <div class="row">
        <div class="col-sm-12">
            <p class="text-center loadmore">
                <a href="@Url.Action("ShowAll","UserWorkSample",
                                    new {Area="WorkSamples"})" class="theme_btn inverse">
                    مشاهده بیشتر
                </a>
            </p>
        </div>
    </div>
</div>




