@model IEnumerable<PluginBase.IPluginBase>

<div id="panel1" style="width:100%;">
    <span data-panel="panel1" class="panel-button" style="margin:0 30px 0 auto;"></span>
    <div id="accordion">
        <ul>
            <li>
                <a href="@Url.Action("Index","Home")">خانه</a>
            </li>
            <li>
                <div>نوشته ها</div>
                <ul>
                    <li><a href="@Url.Action("index", "tag", new {Area = "Admin"})">برچسب ها</a></li>
                    <li><a href="?12">test</a></li>
                    <li><a href="@Url.Action("index", "Category", new {Area = "Admin"})">دسته ها</a></li>
                    <li>
                        <div>دسته ها</div>
                        <ul>
                            <li><a href="#">test</a></li>

                        </ul>
                    </li>
                </ul>
            </li>

            @foreach (var item in Model)
            {
                <li>
                    <div>@item.GetMenuItem(Request.RequestContext).Name</div>
                    <ul>
                        @foreach (var child in item.GetChildMenuItem(Request.RequestContext))
                        {
                            <li><a href="@child.Url">@child.Name</a></li>
                           
                        }
                    </ul>
                </li>
            }
            <li>
                <div>Quis Porttitor</div>
                <ul>
                    <li><a href="?21">Finibus Bonorum</a></li>
                    <li><a href="?22">Sed ut</a></li>
                    <li><a href="?23">Neque porro</a></li>
                </ul>
            </li>
            <li>
                <div>Odio Ac</div>
                <ul>
                    <li><a href="?31">Minima veniam</a></li>
                    <li><a href="?32">Voluptate velit</a></li>
                </ul>
            </li>
            <li>
                <a href="?4">Sapien quam</a>
            </li>
        </ul>
    </div>
</div>
    